asttokens==2.4.0
backcall==0.2.0
console-progressbar==1.1.2
Cython==0.29.34
decorator==5.1.1
enum34==1.1.10
executing==1.2.0
future==0.18.3
ipython==8.12.2
jedi==0.19.0
lxml==4.9.2
matplotlib-inline==0.1.6
netifaces==0.11.0
numpy==1.24.3
optparse-pretty==0.1.1
parse==1.19.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.39
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
Pygments==2.15.1
Pyro5==5.14
pyserial==3.5
serpent==1.41
simplegeneric==0.8.1
six==1.16.0
stack-data==0.6.2
tabulate==0.9.0
terminaltables==3.1.10
traitlets==5.9.0
typing_extensions==4.8.0
uritools==4.0.1
venv-pack==0.2.0
wcwidth==0.2.6
